@use '@/app/theme/variables';

$safe-area-top: variables.$safe-area-top;
$top: calc($safe-area-top + 20px);

.add-button {
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid variables.$border-color-card-main;
  box-shadow: variables.$main-shadow;
  border-radius: 8px;
}
