@use 'src/shared/theme/variables';

.edit-button {
  font-size: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  text-align: center;
}
