@use 'src/shared/theme/variables';

.operation-detail-widget {
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.add-category-button {
  font-size: 24px;
  border: 2px solid variables.$color-success;
  border-radius: 4px;
}
